// Для отладки

.body {
  position: relative;

  &,
  & * {
    background-color: rgba(209, 10, 66, 0.11) !important;
  }

  &-bg {
    position: relative;
    height: 0;
    margin: 0 auto;
    width: 1366px;
    max-width: 100%;

    @media (max-width: 1367px) {
      width: 768px;
    }

    @include mq(phone) {
      width: 320px;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;

      background-position: left;
      background-repeat: no-repeat;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;

      background-image: url("../img/temp/desktop-b.png");
      height: 1239px;

      @media (max-width: 1367px) {
        background-image: url("../img/temp/tablet-b.png");
        height: 1460px;
      }

      @include mq(phone) {
        // background-image: url("../img/temp/menu.png");
        background-image: url("../img/temp/phone-b.png");
        height: 1746px;
      }
    }
  }
}

// Для отладки. Конец
