.body {
  background-color: $light;
  color: $dark;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  height: 100vh;
  min-width: 320px;
}

.body > * {
  flex-shrink: 0;
}

// Для отладки

// .body {
//   position: relative;

//   &,
//   & * {
//     background-color: rgba(209, 10, 66, 0.11) !important;
//   }

//   &-bg {
//     background-image: url("../img/temp/desktop.png");
//     background-position: top left;
//     background-repeat: no-repeat;
//     height: 4115px;
//     left: 0;
//     position: absolute;
//     bottom: 0;
//     // top: 0;
//     width: 100%;
//     z-index: -1;

//     @include mq(tablet) {
//       background-image: url("../img/temp/tablet.png");
//       height: 5062px;
//     }

//     @include mq(phone) {
//       // background-image: url("../img/temp/menu.png");
//       background-image: url("../img/temp/phone.png");
//       height: 7369px;
//     }
//   }
// }

// Для отладки. Конец
