.body {
  background-color: $light;
  color: $dark;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  height: 100vh;
  min-width: 320px;
}

.body > * {
  flex-shrink: 0;
}
