.header {
  align-items: flex-start;
  color: $light;
  display: flex;
  left: 0;
  padding-top: 35px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.header__logo {
  margin-right: auto;
}

.header svg {
  fill: $light;
}

.header__nav,
.header__links {
  margin: 0;
  padding: 0;
}

.header__links {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  line-height: 38px;
  list-style: none;
}

.header__link {
  margin-left: 33px;
}

.header__link a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.header__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
  padding: 0;

  &:hover {
    transform: scale(1.2);
  }

  &--open {
    height: 14px;
    width: 26px;
  }

  &--close {
    height: 13px;
    width: 13px;
  }
}

@include mq(tablet) {
  .header {
    padding-top: 30px;
  }

  .header__links {
    font-size: 14px;
    line-height: 20px;
  }

  .header__link {
    margin-left: 24px;
  }
}

@include mq(phone) {
  .header {
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;

    &--no-js {
      position: static;
    }

    &--menu-visible {
      background-color: $light;
      color: $dark;
    }
  }

  .header__nav {
    display: none;
    font-size: 18px;
    margin-top: 24px;
    min-width: 100%;
    order: 2;
    padding-bottom: 61px;
  }

  .header__links,
  .header__button--open,
  .header--menu-visible .header__nav,
  .header--menu-visible .header__button--close {
    display: block;
  }

  .header__link {
    margin: 0;
    margin-top: 23px;
  }

  .header--menu-visible svg {
    fill: $dark;
  }

  .header--menu-visible .header__button--open,
  .header--no-js .header__button {
    display: none;
  }
}
