//=== Colors ===/

$light: #f9fbfd;
$dark: #011c40;

$picture-bg: #195288;
$picture-bg-light: #e3ecf6;
//=== /Colors ===/

//=== Breakpoints ===/
$breakpoints: (
  phone: 767px,
  tablet: 1023px,
);
//=== /Breakpoints ===/
