.advantages {
  padding-bottom: 90px;
  padding-top: 120px;
  position: relative;

  &::before,
  &::after {
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &::before {
    background-color: #e3ecf6;
  }

  &::after {
    background-image: url("../img/adv/adv-bg@1x--lg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // opacity: 0.1;

    @include mret() {
      background-image: url("../img/adv/adv-bg@2x--lg.jpg");
    }
  }
}

.advantages__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0 -1.5%;
  padding: 0;
}

.advantages__card {
  background-color: $light;
  display: flex;
  flex-basis: 360px;
  flex-direction: column;
  margin: 0 1.5% 30px;
  max-width: 360px;
  min-width: 360px;
  padding: 30px;
}

.advantages__card h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 13px;
  margin-top: 22px;
}

.advantages__card p {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-bottom: -6px;
}

.advantages__icon-container {
  align-items: center;
  display: flex;
  order: -1;
  height: 32px;
}

@include mq(tablet) {
  .advantages {
    padding-bottom: 70px;
    padding-top: 100px;

    &::after {
      background-image: url("../img/adv/adv-bg@1x--md.jpg");

      @include mret() {
        background-image: url("../img/adv/adv-bg@2x--md.jpg");
      }
    }
  }

  .advantages__cards {
    margin: 0 -15px;
  }

  .advantages__card {
    flex-basis: 206px;
    margin: 0 15px 30px;
    max-width: 206px;
    min-width: 206px;
    padding: 25px 16px 25px 20px;
  }

  .advantages__card h3 {
    line-height: 1.4;
    margin-bottom: 9px;
    margin-top: 21px;
  }

  .advantages__card p {
    margin: 0;
    margin-bottom: -6px;
  }

  .advantages__icon-container {
    height: 26px;
  }
}

@include mq(phone) {
  .advantages {
    padding-bottom: 35px;
    padding-top: 65px;

    &::after {
      background-image: url("../img/adv/adv-bg@1x--sm.jpg");

      @include mret() {
        background-image: url("../img/adv/adv-bg@2x--sm.jpg");
      }
    }
  }

  .advantages__cards {
    margin: 0 -15px;
  }

  .advantages__card {
    flex-basis: 290px;
    flex-grow: 1;
    max-width: 400px;
    min-width: 290px;
    padding: 25px 20px;
  }

  .advantages__card h3 {
    line-height: 1.4;
    margin-bottom: 9px;
    margin-top: 21px;
    width: 70%;
  }

  .advantages__card p {
    margin: 0;
    margin-bottom: -6px;
  }

  .advantages__icon-container {
    height: 26px;
  }
}
