.catalog__cards {
  margin-bottom: -30px;
}

.catalog__card {
  color: $light;
  display: flex;
  flex-direction: column;
  max-width: 309px;
  min-height: 386px;
  min-width: 260px;
  overflow: hidden;
  padding: 32px 25px 35px;
  position: relative;
  width: 20%;

  &:hover {
    background-color: $dark;
  }

  &:focus-within {
    // дублирование из-за IE
    background-color: $dark;
  }

  &::after {
    background-color: $picture-bg;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -5;
  }
}

.catalog__card h3 {
  margin: 0;
  color: transparent;

  &::after {
    bottom: 26px;
    content: attr(data-text);
    color: $light;
    display: block;
    left: 0;
    padding: 0 30px;
    position: absolute;
  }
}

.catalog__card:hover h3 {
  color: $light;

  &::after {
    display: none;
  }
}

.catalog__card:focus-within h3 {
  // дублирование из-за IE
  color: $light;

  &::after {
    display: none;
  }
}

.catalog__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  opacity: 0;
}

.catalog__card:hover .catalog__info {
  opacity: 1;
}

.catalog__card:focus-within .catalog__info {
  opacity: 1;
}

.catalog__info dl,
.catalog__info dd {
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

.catalog__info dl {
  margin-top: 20px;
}

.catalog__info dt {
  font-weight: 500;
}

.catalog__info dd {
  margin-bottom: 14px;
}

.catalog__book {
  background-color: $light;
  color: $dark;
  font-size: 14px;
  font-weight: 600;
  display: block;
  line-height: 40px;
  margin-top: auto;
  text-align: center;
  text-decoration: none;
}

.catalog__card picture {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.catalog__card img {
  display: block;
  left: 50%;
  min-height: 104%;
  min-width: 104%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

@include mq(tablet) {
  .catalog__card {
    padding: 32px 35px 35px;
    width: 100%;
  }

  .catalog__card h3::after {
    bottom: 31px;
    padding: 0 35px;
  }
}

@include mq(phone) {
  .catalog__cards {
    margin-left: -5px;
    margin-right: -5px;
  }

  .catalog__card {
    padding: 32px 25px 35px;
  }

  .catalog__card h3::after {
    bottom: 20px;
    padding: 0 25px;
  }

  .catalog__info dl {
    margin-top: 18px;
  }

  .catalog__info dt {
    margin-bottom: 1px;
  }
}
