.contacts {
  align-items: center;
  display: flex;
  justify-content: center;
  line-height: 1.5;
  margin-bottom: 120px;
}

.contacts__info,
.contacts__map-container {
  flex-basis: 500px;
  max-width: 500px;
  min-width: auto;
}

.contacts__map-container--interactive {
  width: 48%;
  min-width: 48%;
}

.contacts__info p,
.contacts__info dl {
  margin: 0;
}

.contacts__info p {
  font-size: 18px;
  font-weight: 500;
}

.contacts dl {
  font-size: 16px;
  margin-top: 31px;
  position: relative;
}

.contacts dt {
  height: 0;
  margin-top: 24px;
}

.contacts dd {
  margin-top: -3px;
  margin-left: 28px;
}

.contacts__map-container {
  flex-grow: 1;
  margin-right: 100px;
  max-width: 560px;
  order: -1;
}

.contacts__map {
  background-color: #dbd7bc;
}

.contacts__map--image,
.contacts__map--image picture,
.contacts__map--image img {
  max-width: 100%;
  width: 100%;
}

.contacts__map--image {
  min-height: 50px;
  position: relative;
}

.contacts__map--image picture,
.contacts__map--image img {
  display: block;
}

.contacts__map-button {
  border: 1px solid $dark;
  bottom: 0;
  font-size: 10px;
  left: 0;
  line-height: 1.5;
  position: absolute;
}

.contacts__map-container--no-js .contacts__map-button {
  display: none;
}

.contacts__map--yandex {
  display: none;
  height: 306px;
  width: 100%;
}

.contacts__map-container--interactive .contacts__map--yandex {
  display: block;
}

.contacts__map-container--interactive .contacts__map--image {
  display: none;
}

@include mq(tablet) {
  .contacts {
    margin-bottom: 100px;
  }

  .contacts dl {
    margin-top: 29px;
  }

  .contacts__map-container {
    margin-right: 30px;
  }

  .contacts__map--yandex {
    height: 335px;
  }
}

@include mq(phone) {
  .contacts {
    display: block;
    margin-top: 57px;
    margin-bottom: 65px;
  }

  .contacts__info {
    margin: 0 auto;
  }

  .contacts__map-container {
    margin: 35px auto 0;
    max-width: 500px;
    width: 100%;
  }

  .contacts__map--image {
    margin: auto;
    max-width: 290px;
  }

  .contacts__map--yandex {
    height: 316px;
  }
}
