.logo {
  display: block;
  height: 38px;
  width: 70px;

  &:hover {
    transform: scale(1.2);
    transform-origin: bottom left;
  }

  @include mq(tablet) {
    height: 20px;
    width: 38px;
  }

  @include mq(phone) {
    height: 22px;
    width: 42px;
  }
}
