.sprite {
  position: relative;
}

.sprite__svg {
  display: none;

  &--lg {
    display: block;
  }

  @include mq(tablet) {
    display: none;

    &--md {
      display: block;
    }
  }

  @include mq(phone) {
    display: none;

    &--sm {
      display: block;
    }
  }
}

.sprite img {
  position: absolute;
  top: 0;
}
